.MainView {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.MainView-app-bar {
    position: relative;
}

.MainView-track-filter {
    position: relative;
}

.MainView-map {
    position: relative;
    flex-grow: 1;
    background-color: orange;  /* TODO for debugging */
}