.MuiFormControl-root.TrackFilterView-datepicker {
    padding: 5px;
    margin: 5px;
}

.TrackFilterView-checkbox-icon .MuiIconButton-root {
    padding: 4px;
}

.TrackFilterView-colorindicator {
    width: 30px;
    height: 20px;
    margin-right: 8px;
}